<div class="collection-template collection-template-skin-1 cols_cerm">
  {% render 'collection-header' %}
  <div class="contains sparq_chng">
    {% render 'breadcrumb' %}
    <div class="halo-collection-content col_middle_main">
      <div class="appendTo-toolbar">
        <div class="container align_to_left"></div>
      </div>
      <div class="row add">
      {% comment %}  {% endcomment %}  {% render 'sidebar-filter' %}
        {% render 'collection-template-skin-1' %}
      </div>
    </div>   
  </div>
</div>