<div class="section blog_templates">
  <div class="contain">
    {% paginate blog.articles by limit %}
    <div class="content-blog blog-fullWidth">
      <div class="list-blog row row_wrap"> 
        {% for link in linklists.blogs.links %}
        {% assign blog = link.object %}
        {% for article in blog.articles %}
        <div class="col-md-4 article_main">
          <a href="{{ article.url }}">
            <div class="inner_article">
              <div class="article_top">
                <img src="{{ article.image | img_url: '' }}">
              </div>
              <div class="article_detail">
                <div class="article_title">
                  <span>{{ article.title | truncate: 100 }}</span>
                </div>
                <div class="author_article">Blog By {{ article.author }}</div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %} 
        {% endfor %}
      </div>
      {% if paginate.pages > 1 %}
      {% render 'pagination' paginate: paginate %}
      {% endif %}
    </div>
    {% endpaginate %}
  </div>
</div>
{% schema %}
  {
    "name": "All Blogs",
    "settings": [

	],
	"presets": [
		{
			"name": "All Blogs"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
