<div class="section faqs_section">
  <div class="contain">
    <div class="row frequently_new">
      
      <div class="col-md-9 accordion_container new_fq">
        {% for block in section.blocks %}
        <div class="accordion_head">
          <span>{{ block.settings.descript_title }}</span>
          <span class="plusminus"><img src="https://cdn.shopify.com/s/files/1/0631/1870/4856/files/Icon_awesome-chevron-down.png?v=1658231725"></span>
        </div>
        <div class="accordion_body product-short-info  newdesign" style="display: none;">
          <p class="add_description">{{ block.settings.adding_descript }}</p>
        </div>
        {% endfor %}
      </div>
      
      <div class="col-md-3 frequently_friends_text">
        <div class="frequently_title">{{ section.settings.frequently_title_div }}</div> 
      </div>
      
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "FREQUENTLY_ASKED",
    "settings": [
{
    "type": "text",
    "id": "frequently_title_div",
    "label": "Add text"
    }
],
  "blocks": [
    {
    "type": "Seen",
    "name": "FREQUENTLY_ASKED",
    "settings": [
    {
    "type": "text",
    "id": "descript_title",
    "label": "Add Text"
    },
{
    "type": "richtext",
    "id": "adding_descript",
    "label": "Add Text"
    }
]
  }],
"presets": [
                    {
                       "name": "FREQUENTLY_ASKED"
                    }
                  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
